@charset "UTF-8";

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4,109,0);
}

h1#principal{
    text-align: center;
    background-color: greenyellow;
    font-family: cursive;
}

h2{
    color: rgb(73, 109, 71);
}

.basico {
       color: rgb(76, 190, 31);
}

.intermediario {
    color: rgb(90, 247, 40);

}

.avançado {
    color: rgb(84, 177, 7);

}